<div class="w-50 mx-auto p-4 shadow mt-5">
  <h2 class="text-center mb-3">Đổi mật khẩu</h2>

  <% if (errors.length) { %>
  <div class="alert alert-danger mt-2"><%= errors %></div>
  <% } %> <% if (message.length) { %>
  <div class="alert alert-success mt-2"><%= message %></div>
  <% } %>

  <form action="" method="post">
    <div class="mb-3">
      <label for="" class="form-label">Mật khẩu cũ</label>
      <input type="password" class="form-control" name="oldPassword" />
    </div>

    <div class="mb-3">
      <label for="" class="form-label">Mật khẩu mới</label>
      <input type="password" class="form-control" name="password" />
    </div>

    <div class="mb-3">
      <label for="" class="form-label">Nhập lại mật khẩu mới</label>
      <input type="password" class="form-control" name="retypePassword" />
    </div>

    <div class="d-flex justify-content-end gap-1">
      <button class="btn btn-primary">Lưu</button>
      <a href="/" class="btn btn-danger">Hủy</a>
    </div>
  </form>
</div>
