<h1>Trang chủ</h1>
<p>Chào bạn: <strong><%= userLogin %> </strong></p>
<div class="mb-3">
  <a href="/users" class="badge bg-success p-2">Cập nhật tài khoản</a>
  <a href="/users/password" class="badge bg-success p-2">Dổi mật khẩu</a>
</div>
<div class="mb-3">
  <a href="#" class="badge bg-success p-2">Quản lý thiết bị đã đăng nhập</a>
</div>
<form action="/dang-xuat" method="post"><button>Đăng xuất</button></form>
